/* add your CSS here */

body {
    background-color: darkcyan;
    width: 400px;
}

.intro {
    border-style: groove;
    border-width: 6px;
    border-color: yellowgreen;
    padding: 0 1em 2em;
}

h3 {
    font-size: 28px;
}

img {
    width: 300px;
    padding: 0 0 2em;
}

.myInfo {
    border-style: double;
    border-width: 5px;
    border-color: ghostwhite;
    padding: 1em 1em 1em;
}

.info {
    font: 100%/1.6, georgia, serif;
    font-style: italic;
    font-size: 16px;
    color: white;
    padding: 1em 0 1em;
}

ul {
    list-style-type: none;
}