/* add your CSS here */

* {
    margin: 5px;
}

body {
    background-color: darkcyan;
}

.intro {
    border-style: groove;
    border-width: 6px;
    border-color: yellowgreen;
}

h3 {
    font-size: 28px;
}

img {
    width: 300px;
    padding-left: 150px;
    padding-bottom: 8px;
}

.myInfo {
    border-style: double;
    border-width: 5px;
    border-color: ghostwhite;
}

.info {
    font-style: italic;
    font-size: 16px;
    color: white;
}

ul {
    list-style-type: none;
}